# DW Miniproject
## Introduction

The objective of this miniproject is to exercise your ability to wrangle tabular data set and aggregate large data sets into meaningful summary statistics. We will be working with the same medical data used in the `pw` miniproject, but will be leveraging the power of Pandas to more efficiently represent and act on our data.

## Downloading the data

We first need to download the data we'll be using from Amazon S3:

In [ ]:
!mkdir dw-data
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz -nc -P ./dw-data/

## Loading the data

Similar to the `PW` miniproject, the first step is to read in the data. The data files are stored as compressed CSV files. You can load the data into a Pandas DataFrame by making use of the `gzip` package to decompress the files and Panda's `read_csv` methods to parse the data into a DataFrame. You may want to check the Pandas documentation for parsing [CSV](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) files for reference.

For a description of the data set please, refer to the [PW miniproject](./pw.ipynb). **Note that all questions make use of the 2017 data only, except for Question 5 which makes use of both the 2017 and 2016 data.**

In [3]:
import pandas as pd
import numpy as np
import gzip

In [4]:
# load the 2017 data

scripts = pd.read_csv("./dw-data/201701scripts_sample.csv.gz",compression='gzip')
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [5]:
col_names=[ 'code', 'name', 'addr_1', 'addr_2', 'borough', 'village', 'post_code']
practices = pd.read_csv('./dw-data/practices.csv.gz',compression='gzip')
practices.columns=col_names
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
1,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
2,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
3,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ
4,A81006,TENNANT STREET MEDICAL PRACTICE,TENNANT ST MED PRACT,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AT

In [6]:
chem = pd.read_csv('./dw-data/chem.csv.gz',compression='gzip')
chem.head()

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

Now that we've loaded in the data, let's first replicate our results from the `PW` miniproject. Note that we are now working with a larger data set so the answers will be different than in the `PW` miniproject even if the analysis is the same.

## Question 1: summary_statistics

In the `PW` miniproject we first calculated the total, mean, standard deviation, and quartile statistics of the `'items'`, `'quantity'`', `'nic'`, and `'act_cost'` fields. To do this we had to write some functions to calculate the statistics and apply the functions to our data structure. The DataFrame has a `describe` method that will calculate most (not all) of these things for us.

Submit the summary statistics to the grader as a list of tuples: [('act_cost', (total, mean, std, q25, median, q75)), ...]

In [13]:
describe = scripts.describe()
describe = describe.drop('min')
describe = describe.drop('max')
describe

               items            nic       act_cost       quantity
count  973193.000000  973193.000000  973193.000000  973193.000000
mean        9.133136      73.058915      67.986613     741.329835
std        29.204198     188.070257     174.401703    3665.426958
25%         1.000000       7.800000       7.330000      28.000000
50%         2.000000      22.640000      21.220000     100.000000
75%         6.000000      65.000000      60.670000     350.000000

In [99]:
describe[describe.columns[1]][5]
a[1] = a[1] + ((),)
a[1]

((), ())

In [92]:
a = []
for i in describe.columns:
    a.append((i,)+((),))
#a[0]+((1,),)
a[1]+(())
for i in range(len(describe.index)):
    for j in range(len(describe.columns)):
        col_name = describe.columns[j]
        a[j] = a[j][1] + (describe[col_name][i],)
a

[('items', ()), ('nic', ()), ('act_cost', ()), ('quantity', ())]

In [49]:
desc = scripts.describe()
#desc = describe.drop('min')
#desc = describe.drop('max')
cols = desc.columns
summary_stats = []
for i in cols:
    summary_stats.append((i,()))
#print(summary_stats)    
for j in range(len(cols)):
    for i in range(len(desc)):
        summary_stats[j][1]+(desc[cols[j]][i],)
print(summary_stats)

[('items', ()), ('nic', ()), ('act_cost', ()), ('quantity', ())]

In [50]:
def ss_func(dataf,col):
    ss = []
    for i in col:
        ss.append((i,(dataf[i][0],dataf[i][1],dataf[i][2],dataf[i][3],dataf[i][4],dataf[i][5])))
    return ss
print(ss_func(desc,cols))

[('items', (973193.0, 9.133135976111625, 29.204198282803603, 1.0, 1.0, 2.0)), ('nic', (973193.0, 73.05891517920908, 188.070256906825, 0.0, 7.8, 22.64)), ('act_cost', (973193.0, 67.98661326170655, 174.40170332301963, 0.04, 7.33, 21.22)), ('quantity', (973193.0, 741.3298348837282, 3665.426958467915, 0.0, 28.0, 100.0))]

In [ ]:
summary_stats = [('items', (desc['items'][0],desc['items'][1],desc['items'][2],desc['items'][3],desc['items'][4],desc['items'][5])), ('quantity', (z,) * 6), ('nic', (0,) * 6), ('act_cost', (0,) * 6)]

In [ ]:
summary_stats = [('items', (desc['items'][0],desc['items'][1],desc['items'][2],desc['items'][3],desc['items'][4],
                            desc['items'][5])), ('quantity', (desc['quantity'][0],desc['quantity'][1],desc['quantity'][2],desc['quantity'][3],desc['quantity'][4],desc['quantity'][5])), ('nic', (0,) * 6), ('act_cost', (0,) * 6)]

In [ ]:
summary_stats = summary_stats = ss_func(desc,cols)

In [56]:
grader.score.dw__summary_statistics(summary_stats)

(973193.0,) is too short

Failed validating 'minItems' in schema['items']['items'][1]:
    {'items': {'type': 'number'},
     'maxItems': 6,
     'minItems': 6,
     'type': 'array'}

On instance[0][1]:
    (973193.0,)

## Question 2: most_common_item

We can also easily compute summary statistics on groups within the data. In the `pw` miniproject we had to explicitly construct the groups based on the values of a particular field. Pandas will handle that for us via the `groupby` method. This process is [detailed in the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/groupby.html).

Use `groupby` to calculate the total number of items dispensed for each `'bnf_name'`. Find the item with the highest total and return the result as `[(bnf_name, total)]`.

In [ ]:
scripts.head()

In [ ]:
#scripts['bnf_name'].unique()[0]
grouped = scripts.groupby('bnf_name')['items']
key_list = []
for i in grouped.groups.keys():
    key_list.append(i)
grouped_sum = grouped.sum()    
print(grouped_sum.head())

In [ ]:
#Iniial attemp which is wrong but could be useful
most_common_item = []
for i in range(len(key_list)):
    most_common_item.append((key_list[i],grouped_sum[key_list[i]]))
print(most_common_item)

In [ ]:
grouped_sum.idxmax()

In [ ]:
most_common_item = [(grouped_sum.idxmax(), grouped_sum.max())]

In [ ]:
grader.score.dw__most_common_item(most_common_item)

## Question 3: items_by_region

Now let's find the most common item by post code. The post code information is in the `practices` DataFrame, and we'll need to `merge` it into the `scripts` DataFrame. Pandas provides [extensive documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html) with diagrammed examples on different methods and approaches for joining data. The `merge` method is only one of many possible options.

Return your results as a list of tuples `(post code, item name, amount dispensed as % of total)`. Sort your results ascending alphabetically by post code and take only results from the first 100 post codes.

**NOTE:** Some practices have multiple postal codes associated with them. Use the alphabetically first postal code. Note some postal codes may have multiple `'bnf_name'` with the same prescription rate for the maximum. In this case, take the alphabetically first `'bnf_name'` (as in the PW miniproject).

In [77]:
#Some else's code just to check
unique_practices = practices.sort_values('post_code').groupby('code').first().reset_index()
joined = scripts.merge(unique_practices[['code','post_code']],how ='left', left_on='practice',right_on='code')
p_i_total = joined.groupby(['post_code','bnf_name'])['items'].sum().reset_index()

In [ ]:
max_ids = p_i_total.groupby('post_code')['items'].idxmax()
max_item_values = p_i_total.loc[max_ids].sort_values('post_code')
max_items_values = max_item_values[:100]
item_totals = p_i_total.groupby('post_code').sum().reset_index()
item_totals.head()

In [ ]:
merged_results = max_items_values.merge(item_totals,on='post_code')
merged_results.head()

In [ ]:
results = list(zip(merged_results.post_code,merged_results.bnf_name,merged_results.items_x/merged_results.items_y))

In [ ]:
items_by_region = [("B11 4BW", "Salbutamol_Inha 100mcg (200 D) CFF", 0.0310589063)] * 100
items_by_region = results

In [ ]:
grader.score.dw__items_by_region(items_by_region)

## Question 4: script_anomalies

Drug abuse is a source of human and monetary costs in health care. A first step in identifying practitioners that enable drug abuse is to look for practices where commonly abused drugs are prescribed unusually often. Let's try to find practices that prescribe an unusually high amount of opioids. The opioids we'll look for are given in the list below.

In [ ]:
opioids = ['morphine', 'oxycodone', 'methadone', 'fentanyl', 'pethidine', 'buprenorphine', 'propoxyphene', 'codeine']

These are generic names for drugs, not brand names. Generic drug names can be found using the `'bnf_code'` field in `scripts` along with the `chem` table.. Use the list of opioids provided above along with these fields to make a new field in the `scripts` data that flags whether the row corresponds with a opioid prescription.

In [ ]:
chem_mask = chem['NAME'].str.contains('|'.join(opioids),case = False)
opioid_codes = chem[chem_mask]['CHEM SUB']
scripts['opioids'] = scripts['bnf_code'].isin(opioid_codes).astype(int)
scripts.head()

In [ ]:
opioids_per_practice = scripts.groupby('practice')['opioids'].mean()
opioids_per_practice.head()

In [ ]:
relative_opioids_per_practice = opioids_per_practice - (scripts['opioids'].mean())
relative_opioids_per_practice.head()

In [ ]:
unique_practices.head()

In [ ]:
opioids_per_practice = joined.groupby('practice')['opioids'].mean()
opioids_per_practice.head()

In [ ]:

relative_opioids_per_practice.head()

In [ ]:
#print(chem.head())
#print(scripts.head())
is_opioid = chem['NAME']
opioids_df = scripts[scripts['bnf_name']=='Morphine']
opioids_str = '|'.join(opioids)
opioids_str

In [ ]:
script_chem = scripts.merge(chem,how = 'left', left_on = 'bnf_code',right_on='CHEM SUB')
op_mask = script_chem['NAME'].str.contains(opioids_str,case = False)
op_mask.fillna(False,inplace = True)

In [ ]:
script_chem['opioids'] = op_mask.astype(int)

Now for each practice calculate the proportion of its prescriptions containing opioids.

**Hint:** Consider the following list: `[0, 1, 1, 0, 0, 0]`. What proportion of the entries are 1s? What is the mean value?

In [ ]:
script_chem.head()

In [ ]:
opioids_per_practice = script_chem.groupby('practice').mean()
opioids_per_practice.head()

How do these proportions compare to the overall opioid prescription rate? Subtract off the proportion of all prescriptions that are opioids from each practice's proportion.

In [ ]:
relative_opioids_per_practice  =opioids_per_practice - (script_chem['opioids'].mean())
relative_opioids_per_practice.head()

Now that we know the difference between each practice's opioid prescription rate and the overall rate, we can identify which practices prescribe opioids at above average or below average rates. However, are the differences from the overall rate important or just random deviations? In other words, are the differences from the overall rate big or small?

To answer this question we have to quantify the difference we would typically expect between a given practice's opioid prescription rate and the overall rate. This quantity is called the **standard error**, and is related to the **standard deviation**, $\sigma$. The standard error in this case is

$$ \frac{\sigma}{\sqrt{n}} $$

where $n$ is the number of prescriptions each practice made. Calculate the standard error for each practice. Then divide `relative_opioids_per_practice` by the standard errors. We'll call the final result `opioid_scores`.

In [ ]:
standard_error_per_practice = np.sqrt(scripts['opioids'].var() / (scripts['practice'].value_counts()))
opioid_scores = relative_opioids_per_practice/standard_error_per_practice
opioid_scores.head()

In [87]:
unique_practices = practices.groupby('code')['name'].min()
#unique_practices = pd.DataFrame(practices.groupby('code')['name'].min()).reset_index()

unique_practices.head()

code
A81001           THE DENSHAM SURGERY
A81002    QUEENS PARK MEDICAL CENTRE
A81003     VICTORIA MEDICAL PRACTICE
A81004       BLUEBELL MEDICAL CENTRE
A81005            SPRINGWOOD SURGERY
Name: name, dtype: object

In [ ]:
top_z_score = opioid_scores.sort_values(ascending=False)[:100]
top_z_score = pd.DataFrame(top_z_score.rename('z_score')).reset_index()
top_z_score.colums = ['practice','z_score']
top_z_score.head()

In [ ]:
results = top_z_score.merge(unique_practices,how='left',left_on ='index',right_on='code')
results.head()

In [ ]:
#scripts.head()
script_size = pd.DataFrame(scripts.groupby('practice').size().rename('script_sizes')).reset_index()
script_size.head()

In [ ]:
results = results.merge(script_size,how='left',left_on='index',right_on='practice')
results.head()

The quantity we have calculated in `opioid_scores` is called a **z-score**:

$$ \frac{\bar{X} - \mu}{\sqrt{\sigma^2/n}} $$

Here $\bar{X}$ corresponds with the proportion for each practice, $\mu$ corresponds with the proportion across all practices, $\sigma^2$ corresponds with the variance of the proportion across all practices, and $n$ is the number of prescriptions made by each practice. Notice $\bar{X}$ and $n$ will be different for each practice, while $\mu$ and $\sigma$ are determined across all prescriptions, and so are the same for every z-score. The z-score is a useful statistical tool used for hypothesis testing, finding outliers, and comparing data about different types of objects or events.

Now that we've calculated this statistic, take the 100 practices with the largest z-score. Return your result as a list of tuples in the form `(practice_name, z-score, number_of_scripts)`. Sort your tuples by z-score in descending order. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [ ]:
#anomalies = [("NATIONAL ENHANCED SERVICE", 11.6958178629, 7)] * 100
anomalies = list(zip(results.name,results.z_score,results.script_sizes))

In [ ]:
grader.score.dw__script_anomalies(anomalies)

## Question 5: script_growth

Another way to identify anomalies is by comparing current data to historical data. In the case of identifying sites of drug abuse, we might compare a practice's current rate of opioid prescription to their rate 5 or 10 years ago. Unless the nature of the practice has changed, the profile of drugs they prescribe should be relatively stable. We might also want to identify trends through time for business reasons, identifying drugs that are gaining market share. That's what we'll do in this question.

We'll load in beneficiary data from 6 months earlier, June 2016, and calculate the percent growth in prescription rate from June 2016 to January 2017 for each `bnf_name`. We'll return the 50 items with largest growth and the 50 items with the largest shrinkage (i.e. negative percent growth) as a list of tuples sorted by growth rate in descending order in the format `(script_name, growth_rate, raw_2016_count)`. You'll notice that many of the 50 fastest growing items have low counts of prescriptions in 2016. Filter out any items that were prescribed less than 50 times.

In [ ]:
scripts16 = pd.read_csv('./dw-data/201606scripts_sample.csv.gz',compression = 'gzip')
scripts16.head()

In [ ]:
script_count = scripts.bnf_name.value_counts().astype(float)
script16_count = scripts16.bnf_name.value_counts().astype(float)

In [ ]:
growth_pct = (script_count / script16_count) - 1
#growth.columns = ['bnf_name','growth']

In [ ]:
#top = growth_pct.sort_values(ascending=False).dropna()[:50]
#bottom = growth_pct.sort_values().dropna()[:50]
#top_growth = pd.concat([top,bottom])

In [ ]:
growth = pd.concat([growth_pct.rename('pct_growth'),scripts16.bnf_name.value_counts().rename('count')],axis =1).dropna()
filter_growth = growth[growth['count']>=50].sort_values('pct_growth',ascending=False)
filter_growth.tail()

In [ ]:
extreme_growth = pd.concat([filter_growth.head(50),filter_growth.tail(50)]).reset_index()
extreme_growth.head()

In [ ]:
script_growth = list(zip(extreme_growth['index'],extreme_growth['pct_growth'],extreme_growth['count']))
#extreme_growth['index']

In [ ]:
script_growth = [("Butec_Transdermal Patch 5mcg\/hr", 3.4677419355, 62.0)] * 100

In [ ]:
grader.score.dw__script_growth(script_growth)

## Question 6: rare_scripts

Does a practice's prescription costs originate from routine care or from reliance on rarely prescribed treatments? Commonplace treatments can carry lower costs than rare treatments because of efficiencies in large-scale production. While some specialist practices can't help but avoid prescribing rare medicines because there are no alternatives, some practices may be prescribing a unnecessary amount of brand-name products when generics are available. Let's identify practices whose costs disproportionately originate from rarely prescribed items.

First we have to identify which `'bnf_code'` are rare. To do this, find the probability $p$ of a prescription having a particular `'bnf_code'` if the `'bnf_code'` was randomly chosen from the unique options in the beneficiary data. We will call a `'bnf_code'` rare if it is prescribed at a rate less than $0.1p$.

In [40]:
p = 1.0/scripts['bnf_code'].nunique()
rates = scripts['bnf_code'].value_counts() / scripts['bnf_code'].count()
mask = rates < 0.1*p
rare_codes = rates[mask].index
scripts['rare'] = scripts['bnf_code'].isin(rare_codes)
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,rare
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,False
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,False
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,False
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,False
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,False

In [41]:
rare_cost = scripts[scripts['rare']].groupby('practice')['act_cost'].sum()
total_cost = scripts.groupby('practice')['act_cost'].sum()

Now for each practice, calculate the proportion of costs that originate from prescription of rare treatments (i.e. rare `'bnf_code'`). Use the `'act_cost'` field for this calculation.

In [42]:
rare_cost_prop = (rare_cost / total_cost).fillna(0)
rare_cost_prop.head()

practice
A81005    0.012017
A81007    0.008381
A81011    0.005116
A81012    0.013747
A81017    0.007359
Name: act_cost, dtype: float64

Now we will calculate a z-score for each practice based on this proportion.
First take the difference of `rare_cost_prop` and the proportion of costs originating from rare treatments across all practices.

In [101]:
relative_rare_cost_prop = (rare_cost_prop - (scripts[scripts['rare']]['act_cost'].sum() / scripts['act_cost'].sum()))
relative_rare_cost_prop.head()

practice
A81005   -0.003946
A81007   -0.007582
A81011   -0.010847
A81012   -0.002216
A81017   -0.008604
Name: act_cost, dtype: float64

Now we will estimate the standard errors (i.e. the denominator of the z-score) by simply taking the standard deviation of this difference.

In [56]:
standard_errors = relative_rare_cost_prop.std()
standard_errors

0.06050888706745139

Finally compute the z-scores. Return the practices with the top 100 z-scores in the form `(post_code, practice_name, z-score)`. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [102]:
rare_scores = (relative_rare_cost_prop / standard_errors).reset_index()
#top_scores =(pd.DataFrame(pd.concat([rare_scores.sort_values(ascending=False).head(50),
           # rare_scores.sort_values(ascending=False).tail(50)])).reset_index())

In [108]:
unique_practices = practices.groupby('code')['name'].min()
rare_scores['name'] = rare_scores.practice.apply(lambda x: unique_practices[x])
rare_scores.sort_values('act_cost',ascending=False,inplace=True)
rare_scores.head()

    practice   act_cost                               name
765   Y03472  16.262687           CONSULTANT DIABETES TEAM
831   Y05320  15.128648     DMC COMMUNITY DERMATOLOGY RBWF
793   Y04404   7.542139  OUTPATIENTS JUBILEE HEALTH CENTRE
766   Y03484   7.287222   DMC COMMUNITY DERMATOLOGY CLINIC
794   Y04424   6.838614                     DMC HEALTHCARE

In [109]:
top_scores = rare_scores.head(100)
#merged_rare_scripts = top_scores.merge(unique_practices[['code','name']],how='left',left_on='practice',right_on='code').dropna()
#merged_rare_scripts.head()

In [110]:
rare_scripts = list(zip(top_scores.practice,top_scores.name,top_scores.act_cost))

In [ ]:
rare_scripts = [("Y03472", "CONSULTANT DIABETES TEAM", 16.2626871247)] * 100

In [112]:
grader.score.dw__rare_scripts(rare_scripts)

==================
Your score:  1.0
==================

*Copyright &copy; 2019 The Data Incubator.  All rights reserved.*